### Imports

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import urllib.parse
import re

### HTTP Request

#### store website in variable

In [2]:
website = requests.get("https://tabelog.com/en/tokyo/rstLst/1/?LstCatD=RC0102&LstCat=RC01&Cat=RC")

#### Status Code

In [3]:
website.status_code

200

### Soup Object

In [4]:
soup = BeautifulSoup(website.content, 'html.parser')

### Results

In [5]:
result_container = soup.find_all('li',{'class':'list-rst js-list-item'})

In [6]:
restaurant_link = []
for result in result_container:
    restaurant_link.append(result.find('a').get('href'))
restaurant_link

['https://tabelog.com/en/tokyo/A1314/A131402/13027687/',
 'https://tabelog.com/en/tokyo/A1308/A130801/13021509/',
 'https://tabelog.com/en/tokyo/A1302/A130202/13257433/',
 'https://tabelog.com/en/tokyo/A1317/A131710/13233609/',
 'https://tabelog.com/en/tokyo/A1314/A131403/13055197/',
 'https://tabelog.com/en/tokyo/A1307/A130703/13076593/',
 'https://tabelog.com/en/tokyo/A1305/A130501/13225374/',
 'https://tabelog.com/en/tokyo/A1329/A132901/13250241/',
 'https://tabelog.com/en/tokyo/A1301/A130102/13030520/',
 'https://tabelog.com/en/tokyo/A1311/A131102/13130042/',
 'https://tabelog.com/en/tokyo/A1313/A131303/13015418/',
 'https://tabelog.com/en/tokyo/A1301/A130101/13228726/',
 'https://tabelog.com/en/tokyo/A1323/A132305/13057800/',
 'https://tabelog.com/en/tokyo/A1313/A131301/13055316/',
 'https://tabelog.com/en/tokyo/A1307/A130701/13098338/',
 'https://tabelog.com/en/tokyo/A1306/A130602/13237445/',
 'https://tabelog.com/en/tokyo/A1327/A132702/13031861/',
 'https://tabelog.com/en/tokyo/A1301/A130103/13242663/',
 'https://tabelog.com/en/tokyo/A1308/A130801/13207593/',
 'https://tabelog.com/en/tokyo/A1304/A130401/13026191/']

### Concatenate 2 URL Parts

### Get Data from First Link

In [76]:
#name
#address
#phone
#email
#website
#generalinfo

#### Store first link in variable

In [7]:
first_link = restaurant_link[0]

#### Get Request & Soup Object

In [8]:
response = requests.get(first_link)

In [10]:
soup = BeautifulSoup(response.content, 'html.parser')

#### Name

In [11]:
Name = soup.find('a',{'class':'rd-header__rst-name-main'}).get_text()
Name

'sushiuogashinihonichi'

#### Address

In [12]:
Address = soup.find('div',{'class':'rd-header__info-table'}).find('span',text  = 'Nearest station').findNext('dd').get_text().strip().split('\n')
Address[0]

'Mita'

In [13]:
Full_add = soup.find('p',{'class':'rd-detail-info__rst-address'}).get_text().strip()
Full_add

'5-chome-29-3 Shiba Minato City Tokyo-to'

### Operating Hours

In [14]:
Operating_Hours = soup.find('th',text = "Operating Hours").findNext('p',{'class':'translate'}).get_text().strip()
Operating_Hours

'【月～金】11:00～22:00【土日祝】11:30～22:00※当面の間、営業時間を変更しております。'

### Buget

In [33]:
Dinner_cost = soup.find('span', {'class':'c-rating__time c-rating__time--dinner'}).findNext('b').get_text()
Dinner_cost

'￥4,000～￥4,999'

In [31]:
Lunch_cost = soup.find('span', {'class':'c-rating__time c-rating__time--lunch'}).findNext('b').get_text()
Lunch_cost

'～￥999'

### Rating

In [168]:
Rating = soup.find('b', {'class':'c-rating__val c-rating__val--strong'}).get_text()
Rating

'3.18'

In [176]:
Reviews = soup.find('a', {'class': 'rd-header__rst-reviews-target gly-b-review'}).get_text().strip().split('\n')[0]
Reviews

'21'

#### Phone

In [181]:
Phone = soup.find('p',{'class':'rd-detail-info__rst-tel rd-detail-info__rst-tel--ppc'}).get_text().strip().split('\n')[0]
Phone

'050-5597-7830'

#### Website

In [183]:
Website = soup.find('a',{'class':'rd-header__rst-name-main'}).get('href')
Website

'https://tabelog.com/en/tokyo/A1303/A130302/13238158/'

### Put all togehter and loop through all pages

In [185]:
#restaurant_df = pd.DataFrame(columns=['Name', 'Address', 'Phone', 'Email', 'Website', 'General_Info'])
results = []
for link in restaurant_link:
    response = requests.get(link)
    soup = BeautifulSoup(response.content, 'html.parser')
    try:
        Name = soup.find('a',{'class':'rd-header__rst-name-main'}).get_text()
    except:
        Name = 'n/a'
    try:
        Address = soup.find('p',{'class':'rd-detail-info__rst-address'}).get_text().strip()
    except:
        Address = 'n/a'
    try:
        Phone = soup.find('p',{'class':'rd-detail-info__rst-tel rd-detail-info__rst-tel--ppc'}).get_text().strip().split('\n')[0]
    except:
        Phone = 'n/a'
    try:
        Website = soup.find('a',{'class':'rd-header__rst-name-main'}).get('href')
    except:
        Website = 'n/a'
    try:
        Operating_Hours = soup.find('th',text = "Operating Hours").findNext('p',{'class':'translate'}).get_text().strip()
    except:
        Operating_Hours = 'n/a'
    try:
        Dinner_cost = soup.find('span', {'class':'c-rating__time c-rating__time--dinner'}).findNext('b').get_text()
    except:
        Dinner_cost = 'n/a'
    try:
        Lunch_cost = soup.find('span', {'class':'c-rating__time c-rating__time--lunch'}).findNext('b').get_text()
    except:
        Lunch_cost = 'n/a'
    try:
        Rating = soup.find('b', {'class':'c-rating__val c-rating__val--strong'}).get_text()
    except:
        Rating = 'n/a'
    try:
        Reviews = soup.find('a', {'class': 'rd-header__rst-reviews-target gly-b-review'}).get_text().strip().split('\n')[0]
    except:
        Reviews = 'n/a'
    # for i in range(len(Name)):
    #     restaurant_df = restaurant_df.append({'Name':Name[i],'Address':Address[i], 'Phone':Phone[i], 'Email':Email[i], 'Website':Website[i], 'General_Info':General_Info[i]}, ignore_index=True)
    results.append({'Name':Name,'Address':Address, 'Phone':Phone, 'Website':Website, 'Website':Website, 'Operating_Hours':Operating_Hours,'Dinner_cost':Dinner_cost, 'Lunch_cost':Lunch_cost, 'Rating':Rating, 'Reviews':Reviews })

### Create Pandas Dataframe

In [186]:
restaurant_df = pd.DataFrame(results)

In [187]:
restaurant_df.head()

,Name,Address,Phone,Website,Operating_Hours,Dinner_cost,Lunch_cost,Rating,Reviews
0,Yasaka,2-chome-8-13 Ebisu Shibuya City Tokyo-to,050-5597-7830,https://tabelog.com/en/tokyo/A1303/A130302/132...,11:30〜14:00 17:00〜22:00,"￥10,000～￥14,999","￥2,000～￥2,999",3.18,21
1,sushijinsei,6-chome-14-7 Ueno Taito City Tokyo-to,050-5597-2671,https://tabelog.com/en/tokyo/A1311/A131101/132...,ランチ 12：00～14：00(LO13：30)ディナー 月～金 16：00～23：00(...,"￥8,000～￥9,999","￥3,000～￥3,999",3.40,76
2,Sushidokorokinnodashi,Sotokanda Chiyoda City Tokyo,050-5595-2341,https://tabelog.com/en/tokyo/A1310/A131001/132...,[月～金]11:30～23:00[土日祝]12:00～23:00お電話は13:00～17:0...,"￥4,000～￥4,999","￥2,000～￥2,999",3.25,28
3,Daikanyamasushitakeuchi,5-8 Sarugakucho Shibuya City Tokyo-to,050-5594-1561,https://tabelog.com/en/tokyo/A1303/A130303/132...,昼 12:00〜14:00夜 18:00〜23:00※緊急事態宣言により営業時間の変更がござ...,"￥15,000～￥19,999","￥6,000～￥7,999",3.69,72
4,ebisusushiogino,1-chome-9-7 Ebisunishi Shibuya City Tokyo-to,050-5595-8448,https://tabelog.com/en/tokyo/A1303/A130302/132...,通常営業時間土.日．祝日ランチ 12：00～14：00（L.O13：00）平日ランチ営業は...,"￥10,000～￥14,999","￥6,000～￥7,999",3.38,71

### Store in Excel